extends ../layouts/base

block title
  - var title = helpers.capitalize(__('blog'))
  title= `${title} | ${app.sitename}`

block content
  h1= title
  p= __('Welcome to %s', __('blog'))
  nav
    ul
      li
        a(href='/ru/api/todos') API Todos на русском
      li
        a(href='/en/api/todos') API Todos on english
